/* элементы дерева */
.tree-item {
    cursor: pointer;
    padding: 5px;
}

.tree-item:hover {
    background: #333;
}

.tree-children {
    margin-left: 15px;
    display: none;
}

.tree-item.open > .tree-children {
    display: block;
}
